{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock %}


{% block content %}
<script src="/static/js/like.js"></script>
<script src="/static/js/hide_articles_page.js"></script>
	<div class="rowsie">

		<!-- Link that takes back to timeline, holds place in scroll -->
		<a href="javascript:history.back(1)">back to timeline</a> 

		<h2 class="article-title">{{article.title}}</h2>
		<h6>
	        <button 
	        {% if article.article_id in faved_ids %}
	            style="color: red;"             
	        {% endif %}
	        type="button" id="{{article.article_id}}" class="btn btn-default btn-sm like">
	          <span class="glyphicon glyphicon-heart"></span> 
	        </button>

	         <button 
	        type="button" id="hide-{{article.article_id}}" class="btn btn-default btn-sm deactivate">
	          <span></span>Hide 
	        </button>

	        Published: {{article.publish_date}}
        </h6>


		{% if article['description'] %}
			<p>Description: {{article['description']|safe}}</p>
		{% endif %}

		{% if article['content'] %}
			<!-- |safe means override and allow it to be HTML instead of a string -->
			<p> Content: <div id="content"> {{article['content']|safe}}</div></p>
		{% endif %}
	</div>
{% endblock %}
