<!doctype html>
<html>
  <head>
    <title>{% block title %}TITLE GOES HERE{% endblock%}</title>

    <!-- Navbar -->
    <a href='/'>Home|</a>
    {% if 'user_id' not in session %}
      <a href='/login'>Log In|</a>
    {% else %}
      <a href='/logout'>Log Out|</a>
      <a href="/dashboard">My Info|</a>
      <a href="/timeline">My Timeline|</a>
      <a href="/favorites">My Favorites|</a>
    {% endif %}
    
    <!-- Scripts and Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <style>{% block style %}STYLE CONTENT GOES HERE{% endblock %}</style>
  </head>
  <body>
    {% for message in get_flashed_messages() %}
        <p> {{ message }} </p>
    {% endfor %}
    {% block content %}BODY CONTENT GOES HERE{% endblock %}
  </body>
</html>