{% extends 'base.html' %}

{% block title %}My Data{% endblock %}

{% block content %}
	{% for article in formatted_art %}
		<h1>Formatted Data for {{article['db_info'].blog.name}}</h1>
		{% if article['db_info'].blog.build_date != None %}
			<ul>
				<li>Blog Last Updated: {{article['db_info'].blog.build_date}}</li>
			</ul>
		{% endif %}
			<h3>{{article['db_info'].title}}</h3>
			<ul>
				<li>Published: {{article['db_info'].publish_date}}</li>
			</ul>
			{% if article['db_info'].description %}
				<p>Description: {{article['description']|safe}}</p>
			{% endif %}
			{% if article['content'] %}
				<!-- |safe means override and allow it to be HTML instead of a string -->
				<p> Content: <div id="content"> {{article['content']|safe}}</div></p>
			{% endif %}
	{% endfor %}
{% endblock %}
