{% extends 'base.html' %}
{% block title %}My Data{% endblock %}
{% block content %}
	<h1>Formatted Data for {{article_1.blog.name}}</h1>
	{% if article_1.blog.build_date != None %}
		<ul>
			<li>Blog Last Updated: {{article_1.blog.build_date}}</li>
		</ul>
		{% endif %}
		<h3>{{article_1.title}}</h3>
		<ul>
			<li>Published: {{article_1.publish_date}}</li>
		</ul>
		{% if article_1.description != None %}
			<p>Description: {{article_1.description}}</p>
		{% endif %}
		{% if new_content != None %}
			<p> Content: <div id="content"> {{new_content}}</div></p>
		{% endif %}
		<h3></h3>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script>
		$.get('/return_content.json', showContent)

		function showContent(results) {
			$('#content').html(results['content']);
		}
	</script>
{% endblock %}
