<!doctype html>
<html>
  <head>
    <title>Blog Defog</title>
    <!-- Scripts and Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <style>
    	body {
    			background-image: url("https://fthmb.tqn.com/f1rGpVYiLgur40BW2zN69cNG_C8=/3000x1926/filters:fill(auto,1)/fog-56a407943df78cf772806f75.jpg");
    			background-repeat: no-repeat;
    			background-size: 100%;
    			background-attachment: fixed;
			  	}
    </style>
  </head>
  <body>

  	<br>
  	<br>
  	<br>
  	<h1>Blog Defog</h1>
  	<br>
  	<br>
  	<br>


  	{% if user %}
  		<a href='/dashboard'>
    		<h4>Continue as {{user.name}}?</h4>
  		</a>
     <button type="button" id="logout" class="btn btn-default btn-sm">
          <a href='/logout'>Log Out<span ></span></a>
        </button>

    {% else %}
      <h4>Sign in</h4>
        <form action="/log_confirm" method="POST">
          Email: <input type="text" name="email"><br>
          Password: <input type="password" name="password"><br>
          <input type="submit">        
        </form>
      </h4>
      <br>Or<br>
      <h4>Register</h4>
        <form action="/register_confirm" method="POST">
          Name:<input type="text" name="name"><br>
          Email:<input type="text" name="email"><br>
          Password:<input type="password" name="password"><br><br>
          
          Check all blogs that you would like to follow:<br>
          <input type="checkbox" name="blog" value="1">Cal Newport: Study Hacks<br>
          <input type="checkbox" name="blog" value="2">PsyBlog<br>
          <input type="checkbox" name="blog" value="3">DeSmogBlog<br>
          <input type="checkbox" name="blog" value="4">Mr. Money Mustache<br>
          <input type="checkbox" name="blog" value="5">ReadyTwoWear<br><br>
          <input type="submit">        
        </form>
        <br>
  	{% endif %}
  </body>
</html>
