<!doctype html>
<html>
  <head>
    <title>Blog Defog</title>
    <!-- Scripts and Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <style>
    	body {
    			background-image: url("https://fthmb.tqn.com/f1rGpVYiLgur40BW2zN69cNG_C8=/3000x1926/filters:fill(auto,1)/fog-56a407943df78cf772806f75.jpg");
    			background-repeat: no-repeat;
    			background-size: 100%;
    			background-attachment: fixed;
			  	}
    </style>
  </head>
  <body>

  	<br>
  	<br>
  	<br>
  	<h1>Blog Defog</h1>
  	<br>
  	<br>
  	<br>
  	{% if user %}
  		<a href='/dashboard'>
    		<h4>Continue as {{user.name}}?</h4>
  		</a>
      <br>or<br>
  	{% endif %}
  		<h4>Sign in</h4>
      <form action="/log_confirm" method="POST">
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit">        
    </form>

    <br>or<br>
    <h4>
    <a href="/register">Register</a>
  </h4>
  </body>
</html>
