{% extends 'base.html' %}

{% block title %}
	Registration
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
	<form action="/register_confirm" method="POST">
		<br>
		Name:<input type="text" name="name"><br>
        Email:<input type="text" name="email"><br>
        Password:<input type="password" name="password"><br><br>
        Check all blogs that you would like to follow:<br>
        <input type="checkbox" name="blog" value="1">Cal Newport: Study Hacks<br>
        <input type="checkbox" name="blog" value="2">PsyBlog<br>
        <input type="checkbox" name="blog" value="3">DeSmogBlog<br>
        <input type="checkbox" name="blog" value="4">Mr. Money Mustache<br>
        <input type="checkbox" name="blog" value="5">ReadyTwoWear<br><br>
        <input type="submit">        
    </form>
{% endblock %}
