{% extends 'base.html' %}

{% block title %}My Timeline{% endblock %}

{% block content %}
	{% for article in formatted_art %}
		<h1>{{article['db_info'].blog.name}}</h1>
		<h3>
			<a href="/articles/{{ article['db_info'].article_id }}">
                {{article['db_info'].title}}
            </a>
        </h3>
		<ul>
			<li>Published: {{article['db_info'].publish_date}}</li>
		</ul>

		{% if article['db_info'].description %}
			<p>Description: {{article['description']|safe|truncate(700)}}</p>
		{% elif article['content'] %}
			<!-- |safe means override and allow it to be HTML instead of a string -->
			<p> Content: <div id="content"> {{article['content']|safe|truncate(700)}}</div></p>
		{% endif %}
	{% endfor %}
{% endblock %}
