{% extends 'base.html' %}

{% block title %}
    {{user.name}}'s Timeline
{% endblock %}

{% block style %}
    h4 {
    text-align: center;
    font-size: 20px;
}
{% endblock %}

{% block content %}
    <script src="/static/js/like.js"></script>
    {% if not formatted_art %}
    <br>
    <br>
    <br>
    <h4>You have not followed any blogs yet!</h4>
    {% endif %}
    {% for article in formatted_art %}
        <div id="div-{{article['db_info'].article_id}}" class="rowsie font-two">
            <h2>{{article['db_info'].blog.name}}</h2>
            <h3>
                <a href="/articles/{{ article['db_info'].article_id }}" class="article-title">
                    {{article['db_info'].title}}
                </a>
            </h3>
            <h6>
                <button 
                {% if article['db_info'].article_id in faved_ids %}
                    style="color: red;"             
                {% endif %}
                type="button" id="{{article['db_info'].article_id}}" class="btn btn-default btn-sm like">
                  <span class="glyphicon glyphicon-heart"></span> 
                </button>

                 <button 
                type="button" id="hide-{{article['db_info'].article_id}}" class="btn btn-default btn-sm deactivate">
                  <span></span>Hide 
                </button>

                Published: {{article['db_info'].publish_date}}
            </h6>
            {% if article['db_info'].description %}
                <p>{{article['description']|safe|truncate(300, end='[...]')}}</p>
            {% elif article['content'] %}
                <!-- |safe means override and allow it to be HTML instead of a string -->
                <p><div id="content"> {{article['content']|safe|truncate(300, end='[...]')}}</div></p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
