{% extends 'base.html' %}

{% block title %}
	{{user.name}}
{% endblock %}

{% block content %}
	<h1>Welcome back, {{user.name}}!</h1>
	<h3>
		Blogs you follow:<br>
		<ul>
		{% for item in users_blogs %}
			<li>{{ item.blog.name}}<br>
		{% endfor %}
		</ul>
	</h3>
	<h5>Unfollow a blog:</h5>
	<form action='/remove_blog' method='POST'>
        <select name="blog">
        	<option value="" disabled selected></option>
        	{% for item in users_blogs %}
        		<option value="{{item.blog_id}}">{{item.blog.name}}</option>
        	{% endfor %}
        </select>
        <input type='submit'>
    </form>
{% endblock %}
