{% extends 'base.html' %}

{% block title %}
	{{user.name}}
{% endblock %}

{% block style %}
body {
    background-image: url("https://fthmb.tqn.com/f1rGpVYiLgur40BW2zN69cNG_C8=/3000x1926/filters:fill(auto,1)/fog-56a407943df78cf772806f75.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
{% endblock %}

{% block content %}
    <h1>Settings</h1>
	<h5>Unfollow a blog:</h5>
	<form action='/remove_blog' method='POST'>
        <select name="rem_blog">
        	<option value="" disabled selected></option>
        	{% for item in users_blogs %}
        		<option value="{{item.blog_id}}">{{item.blog.name}}</option>
        	{% endfor %}
        </select>
        <input type='submit' class="btn btn-default btn-sm">
    </form>

    <h5>Follow a blog:</h5>
	<form action='/add_blog' method='POST'>
        <select name="add_blog">
        	<option value="" disabled selected></option>
        	{% for item in not_followed_blogs %}
        		<option value="{{item.blog_id}}">{{item.name}}</option>
        	{% endfor %}
        </select>
        <input type='submit' class="btn btn-default btn-sm">
    </form>

    <h5>Remove a friend:</h5>
    <form action='/remove_friend' method='POST'>
        <select name="rem_friend">
            <option value="" disabled selected></option>
        </select>
        <input type='submit' class="btn btn-default btn-sm">
    </form>

    <h5>Add a friend:</h5>
    <form action='/add_friend' method='POST'>
        <select name="add_friend">
            <option value="" disabled selected></option>
        </select>
        <input type='submit' class="btn btn-default btn-sm">
    </form>

    <h5>Change profile photo</h5>
    <form action='/change_avatar' method='POST'>
        <select name="avatar">
            <option value="" disabled selected></option>
        </select>
        <input type='submit' class="btn btn-default btn-sm">
    </form>

    <h5>Change background image</h5>
    <form action='/change_background' method='POST'>
        <select name="background">
            <option value="" disabled selected></option>
        </select>
        <input type='submit' class="btn btn-default btn-sm">
    </form>
    <br>
    <button 
        type="button" id="deactivate" class="btn btn-default btn-sm">
          <span></span>Deactivate
    </button>

{% endblock %}
