{% extends 'base.html' %}

{% block title %}
	{{user.name}}
{% endblock %}

{% block style %}
<style>
    .column {
        box-sizing: border-box;
    }

    body {
      margin: 0;
    }

    .column-left {
        float: left;
        width: 70%;
        padding: 15px;
    }

    .column-right {
        float: right;
        width: 30%;
        padding: 15px;
    }
</style>
{% endblock %}

{% block content %}
	<h1>Welcome back, {{user.name}}!</h1>

    <script src="/static/js/unlike.js"></script>

    <div class="row">
        <div class="column-left">
            <h3>Favorites</h3>
            {% if not formatted_art %}
                <h4>You have not favorited any articles yet!</h4>
            {% endif %}
            {% for article in formatted_art %}
                <div id="div-{{article['db_info'].article_id}}">
                    <h3>
                        <button 
                        {% if article['db_info'].article_id in faved_ids %}
                            style="color: red;"             
                        {% endif %}
                        type="button" id="{{article['db_info'].article_id}}" class="btn btn-default btn-sm like">
                          <span class="glyphicon glyphicon-heart"></span> 
                        </button>
                        <a href="/articles/{{ article['db_info'].article_id }}">
                            {{article['db_info'].title}}
                        </a>
                    </h3>
                    <h6>{{article['db_info'].blog.name}} Published: {{article['db_info'].publish_date}}</h6>
                    {% if article['db_info'].description %}
                        <p>{{article['description']|safe|truncate(300, end='[...]')}}</p>
                    {% elif article['content'] %}
                        <!-- |safe means override and allow it to be HTML instead of a string -->
                        <p><div id="content"> {{article['content']|safe|truncate(300, end='[...]')}}</div></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="column-right">
            <h3>Blogs you follow:</h3>
            <ul>
            {% for item in users_blogs %}
                <li>{{ item.blog.name}}<br>
            {% endfor %}
            </ul>
            </h3>
        </div>
        <div class="column-right">
            <h3>Settings:</h3>
            <h5>Unfollow a blog:</h5>
            <form action='/remove_blog' method='POST'>
                <select name="rem_blog">
                    <option value="" disabled selected></option>
                    {% for item in users_blogs %}
                        <option value="{{item.blog_id}}">{{item.blog.name}}</option>
                    {% endfor %}
                </select>
                <input type='submit' class="btn btn-default btn-sm">
            </form>

            <h5>Follow a blog:</h5>
            <form action='/add_blog' method='POST'>
                <select name="add_blog">
                    <option value="" disabled selected></option>
                    {% for item in not_followed_blogs %}
                        <option value="{{item.blog_id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
                <input type='submit' class="btn btn-default btn-sm">
            </form>

            <h5>Change profile photo</h5>
            <form action="/change_avatar" enctype='multipart/form-data' method='POST'> 
                <input type="file" name="avatar" value="fileupload" id="fileupload">
                <input type='submit' class="btn btn-default btn-sm"> 
            </form>
            <h5>Change background image</h5>
            <form action="/change_background" enctype='multipart/form-data' method='POST'> 
                <input type="file" name="background_img" value="fileupload" id="fileupload">
                <input type='submit' class="btn btn-default btn-sm"> 
            </form>
        </div>
    </div>
  
{% endblock %}
