{% extends 'base.html' %}

{% block title %}
	{{users_blogs[0].user.name}}'s Favorites
{% endblock %}

{% block content %}
  	<script src="/static/js/unlike.js"></script>

  	<h1>Favorites</h1>
  	{% if not formatted_art %}
  		<h4>You have not favorited any articles yet!</h4>
  	{% endif %}
	{% for article in formatted_art %}
		<div id="div-{{article['db_info'].article_id}}">
			<h3>
				<button 
	            {% if article['db_info'].article_id in faved_ids %}
	                style="color: red;"             
	            {% endif %}
	            type="button" id="{{article['db_info'].article_id}}" class="btn btn-default btn-sm like">
		          <span class="glyphicon glyphicon-heart"></span> 
		        </button>
				<a href="/articles/{{ article['db_info'].article_id }}">
	                {{article['db_info'].title}}
	            </a>
	        </h3>
	    	<h6>{{article['db_info'].blog.name}} Published: {{article['db_info'].publish_date}}</h6>
			{% if article['db_info'].description %}
				<p>{{article['description']|safe|truncate(300, end='[...]')}}</p>
			{% elif article['content'] %}
				<!-- |safe means override and allow it to be HTML instead of a string -->
				<p><div id="content"> {{article['content']|safe|truncate(300, end='[...]')}}</div></p>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}
